@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


  
html {
  @apply  scroll-smooth
}


@layer base {
  .scroll-smooth {
    scroll-behavior: smooth;
  }

}
  
  ::-webkit-scrollbar {
    /* width: 10px; */
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .heroImg {
    background-image: url('./assets/heroImg.jpg');
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    

  };
  .worksImg {
    background-image: url('https://i.ytimg.com/vi/cU931KMUwuk/maxresdefault.jpg');
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;

    

  };
 
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 0.5s ease-out forwards;
  }